version: "3"

services:
  postgres:
    image: postgres:13-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: root
      POSTGRES_DB: hyperjump-web-framework
    volumes:
      - ./data:/var/lib/postgresql/data
    restart: unless-stopped
